body, html {
    height: 100%;
  }
/* 
body {
    background-image: url("https://source.unsplash.com/random");
  
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
  
  h1 {
    text-align: center;
    color: red;
  }